*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.container{
    height: 100vh;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 4fr;
    font-size: 1.4em;
    /* place-content: center; */
}
[class^="item"] {
  
    display: grid;
    place-items: center;
   
     border: 2px solid red;

}